/**
 *  Colors
 */
$body-color:#444444;
$primary-color: #09b4ff;

/**
 *  Fonts
 */
$font-light: "Proxima Nova Light", arial, sans-serif;
$font-semibold: "Proxima Nova Semibold", arial, sans-serif;

/**
 *  Sizes
 */
$mobile-width: 425px;